body{
    text-align:center;
    background-color:#F8BBD0;
    }
    h1 {
    color: #6A1B9A;
    font-size: 100 px;
    font-variant: small-caps;
    word-spacing: 13 px;
    font-family: Ebrima;
    }
    